<div class="container p-4">
  <div class="row">
    <div class="col-md-6">

      <div class="card card-body">
        <!-- <div class="d-flex justify-content-center"> -->
          <img src="../assets/clima.png" alt="imagen" width="20%" height="20%" class="mx-auto">
        <!-- </div> -->
        <!-- <div class="p-2" style="border-radius: 20px; background-color:#EEF5FF"> -->
          <form>

            <div class="form-group">
              <input class="form-control mt-2" type="text" placeholder="Ciudad" #city>
            </div>
            <!-- <div class="form-group">
              <input class="form-control mt-2" type="text" placeholder="Pais" #country>
            </div> -->
            <div class="form-group">
              <label for="exampleSelect1" class="form-label mt-4">Pais</label>
              <select class="form-select" name="countrySelect" [(ngModel)]="selectedCountry" #country >
                <option *ngFor="let country of jsonData" [value]="country.iso2">{{ country.nombre }}</option>
              </select>
            </div>
            
            <button class="btn btn-success mt-2" style="width: 100%;" (click)="sendData(city,country)">Enviar</button>
            

          </form>
        <!-- </div> -->
      </div>
    </div>


    <div class="col-md-6">

      <div *ngIf="clima == undefined" class="card card-body">
        <img src="../assets/calentamiento-global.gif" alt="imagen" width="20%" height="20%" class="mx-auto">
        <br>
        <p>Latitud:</p>
        <p>Lonfitud:</p>
        <p>Temperatura:</p>
        <p>Humedad:</p>
        <p>Maxima:</p>
        <p>Minima:</p>
      </div>

      <div *ngIf="clima" class="card card-body">

        <img src="../assets/calentamiento-global.gif" alt="imagen" width="20%" height="20%" class="mx-auto">
        <br>
        <p>Latitud: {{clima.coord.lat}}</p>
        <p>Lonfitud: {{clima.coord.lon}}</p>
        <p>Temperatura: {{clima.main.temp}}</p>
        <p>Humedad: {{clima.main.humidity}}</p>
        <p>Maxima: {{clima.main.temp_max}}</p>
        <p>Minima: {{clima.main.temp_min}}</p>
      </div>
    </div>
  </div>
</div>